* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 5px;
    font-family: 'Comfortaa', cursive;
font-family: 'Quicksand', sans-serif;   
}
a{
    text-decoration: none;
}